#downloadpdfbtn {
  width: 100%;
}

.slider-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: auto;
  padding: 5rem 0 0 0;
}

.slider {
  display: flex;
  gap: 10px;
  scroll-behavior: smooth;
  overflow-x: scroll;
  padding-bottom: 10px;
}

.slider {
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slider-content {
  display: flex;
  gap: 1rem;
}

.slide {
  flex: 0 0 auto;
}

.slide img {
  width: 100%;
  height: auto;
  display: block;
}

.navigation {
  text-align: center;
  margin-top: 2.5rem;
}

.nav-arrow {
  background: none;
  border: none;
  font-size: 2.5rem;
  cursor: pointer;
  padding: 5px;
}

.custom-section a {
  color: #2a18ef;
  font-size: 1.3rem;
  font-weight: 500;
  text-decoration: underline;
}

.modal-redirect-text {
  color: #000;
}

.modal-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #000;
}

.networking-search-container {
  margin-top: 3rem;
  margin-bottom: 5rem;
  position: relative;
}

#networking-search {
  width: 100%;
  padding: 1rem;
  border: 1px solid #9b9b9b;
  border-radius: 5rem;
  font-size: 1rem;
}

.search-results {
  position: absolute;
  top: 105%;
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  background: #fff;
  border: none;
  border-top: none;
  color: #000;
  z-index: 10;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 0.75rem;
}

.search-result-item {
  padding: 1rem;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}

.view-group-btn {
  background-color: #000;
  color: white;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 0.75rem;
  cursor: pointer;
  font-size: 1rem;
}

.view-group-btn:hover {
  transition: all 0.2s ease;
  border-radius: 0;
}

.highlighted-group {
  outline: 2px solid #000;
  outline-offset: 2px;
  transition: outline 0.3s ease;
}

@media screen and (min-width: 768px) {
  #networking-search {
    width: 40%;
    /* shift in right end */
    /* margin-left: 60%; */
  }

  .search-results {
    width: 40%;
    margin-left: 30%;
  }

  #downloadpdfbtn {
    width: fit-content;
  }
}

.curated-steps {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.curated-steps h1 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 1rem;
  color: #7f7f7f;
}

.curated-steps span {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #000;
}

.curated-steps a {
  margin-top: 0;
}

.steps-2 {
  margin-top: 2rem;
}

.filter-container {
  margin: 2rem auto;
  text-align: center;
  width: 100%;
}

.filter-buttons {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}

.filter-btn {
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 1.2rem;
  font-weight: 500;
}

.all {
  background-color: #fff;
  border: 1.5px solid #000;
}

.all:hover {
  border: 1.5px solid #000;
  background: #000;
  color: #fff;
}

.all.active {
  border: 1.5px solid #000;
  background: #000;
  color: #fff;
}

.core {
  background-color: #e1f5fd;
  border: 1.5px solid #1abcfe;
  color: #1abcfe;
}

.core:hover {
  background-color: #1abcfe;
  color: #fff;
}

.core.active {
  background-color: #1abcfe;
  color: #fff;
}

.partner-event {
  background-color: #fce9e7;
  border: 1.5px solid #ff7262;
  color: #ff7262;
}

.partner-event:hover {
  background-color: #ff7262;
  color: #fff;
}

.partner-event.active {
  background-color: #ff7262;
  color: #fff;
}

.campus {
  background-color: #ddfcf0;
  border: 1.5px solid #0acf83;
  color: #0acf83;
}

.campus:hover {
  background-color: #0acf83;
  color: #fff;
}

.campus.active {
  background-color: #0acf83;
  color: #fff;
}

.meetjam {
  background-color: #f8e4fe;
  border: 1.5px solid #a259ff;
  color: #a259ff;
}

.meetjam:hover {
  background-color: #a259ff;
  color: #fff;
}

.meetjam.active {
  background-color: #a259ff;
  color: #fff;
}

.fourthfold__content.hidden {
  display: none;
}

@media screen and (max-width: 768px) {
  .filter-buttons {
    gap: 0.5rem;
  }

  .filter-btn {
    padding: 0.4rem 0.8rem;
    font-size: 0.8rem;
  }
}

.mobile-filter {
  display: none;
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.dropdown-select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  background: white;
  border: 1px solid #9b9b9b;
  border-radius: 5rem;
  cursor: pointer;
  user-select: none;
}

.arrow {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #000;
  transition: transform 0.2s ease;
}

.dropdown-select.active .arrow {
  transform: rotate(180deg);
}

.dropdown-options {
  display: none;
  position: absolute;
  top: 110%;
  left: 0;
  right: 0;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: none;
  border-top: none;
  border-radius: 0.75rem;
  margin-top: -1px;
  z-index: 100;
  overflow: auto;
}

.dropdown-options.show {
  display: block;
}

.option {
  padding: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  border-bottom: 1px solid #eee;
  font-size: 1rem;
  color: #000;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 1rem;
}

.option:hover {
  background-color: #f7fafc;
}

.filter-tag {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #000;
  display: block;
}

/* Media query for mobile devices */
@media screen and (max-width: 768px) {
  .desktop-filters {
    display: none;
  }

  .mobile-filter {
    display: block;
  }
}

.dropdown-select.all-filter {
  color: #000;
}
.dropdown-select.core-filter {
  color: #1abcfe;
  background-color: #d9f4ff;
  border: 1px solid #1abcfe;
}
.dropdown-select.meetjam-filter {
  color: #a259ff;
  background-color: #f0d5fa;
  border: 1px solid #a259ff;
}
.dropdown-select.partner-event-filter {
  color: #ff7262;
  background-color: #ffe3e0;
  border: 1px solid #ff7262;
}
.dropdown-select.campus-filter {
  color: #0acf83;
  background-color: #d3ffee;
  border: 1px solid #0acf83;
}

.option[data-filter="all"] {
  border-left: 0.75rem solid #000;
}
.option[data-filter="core"] {
  border-left: 0.75rem solid #1abcfe;
  background-color: #d9f4ff;
  color: #1abcfe;
}
.option[data-filter="meetjam"] {
  border-left: 0.75rem solid #a259ff;
  background-color: #f0d5fa;
  color: #a259ff;
}
.option[data-filter="partner-event"] {
  border-left: 0.75rem solid #ff7262;
  background-color: #ffe3e0;
  color: #ff7262;
}
.option[data-filter="campus"] {
  border-left: 0.75rem solid #0acf83;
  background-color: #d3ffee;
  color: #0acf83;
}

/* .dropdown-select {
  border-left-width: 4px;
  transition: border-color 0.2s ease;
} */

/* .filter-buttons .button {
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  background: #f0f0f0;
  color: #333;
  cursor: pointer;
  transition: all 0.3s;
}

.filter-buttons .button.active {
  background: #0066ff;
  color: white;
}

.firstfold__img img {
  transition: opacity 0.3s;
} */


.filter-description {
  margin-top: 1rem;
  margin-bottom: 4rem;
  text-align: center;
}

.description-text {
  text-align: center;
  font-size: 1.3rem;
  line-height: 1.5;
  color: #8a8989;
  margin: 0;
  transition: opacity 0.3s ease;
}

@media screen and (max-width: 768px) {
  .filter-description {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .description-text {
    text-align: justify;
  }
}

.fab-container {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 999;
}

.fab {
  display: flex;
  align-items: center;
  background-color: #2a18ef;
  color: white;
  border-radius: 15px;
  padding: .5rem;
  text-decoration: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.345);
  transition: all 0.3s ease;
  overflow: hidden;
  min-width: 120px;
  height: auto;
  max-width: 4.5rem;
}

.fab:hover {
  background-color: #1a0cb0;
}

.fab-image {
  width: 135px;
  height: auto;
  border-radius: 10px;
  /* border-radius: 50%; */
}

.fab-text {
  font-size: 0.9rem;
  margin-left: 0.5rem;
  margin-right: .75rem;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.fab.expanded {
  max-width: 500px;
  transition: .3s ease-in-out;
}

.fab.expanded .fab-text {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .fab-container {
    bottom: 1.5rem;
    right: 1.5rem;
  }

  .fab {
    padding: 0.5rem;
  }

  .fab-image {
    width:130px;
    height: auto;
  }

  .fab.expanded {
    max-width: 350px;
  }
}
